<div class="container">
  <%= render "partials/place", locals: { place: @place } %>
  <%= link_to 'New Plate', new_place_plate_path, class: "btn btn-primary pull-right" %>
  <hr>
  <div class="row">
    <% @plates.each do |plate| %>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4><%= plate.name %></h4>            
          </div>
          <%= image_tag plate.picture.url(:medium), class: "img-responsive" %>
          <div class="panel-body">
            <p>
              Category: <%= plate.category %><br />
              Tags: <%= plate.tags %><br />
              Options: <%= plate.options %><br />
              Diners: <%= plate.diners %><br />
              Category: <%= plate.category %>
            </p>
            <h5>Price: $ <%= plate.price %> COP</h5>
          </div>
          <div class="panel-footer">
            <%= link_to 'Show', place_plate_path(@place, plate), class: "btn btn-default" %>
            <%= link_to 'Edit', edit_place_plate_path(@place, plate), class: "btn btn-default" %>
            <%= link_to 'Destroy', place_plate_path(@place, plate), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default pull-right" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>