<div class="container">
  <p>
    <strong>Place:</strong>
    <%= @plate.place.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @plate.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @plate.content %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @plate.category %>
  </p>

  <p>
    <strong>Favored:</strong>
    <%= @plate.favored %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= @plate.tags %>
  </p>

  <p>
    <strong>Options:</strong>
    <%= @plate.options %>
  </p>

  <p>
    <strong>Diners:</strong>
    <%= @plate.diners %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @plate.active %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= @plate.deleted_at %>
  </p>
</div>