<div class="container">

  <h1>Visits</h1>

  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Place</th>
        <th>Plate</th>
        <th>Confirmed</th>
        <th>Rank</th>
        <th>Comments</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @visits.each do |visit| %>
        <tr>
          <td><%= visit.user %></td>
          <td><%= visit.place %></td>
          <td><%= visit.plate %></td>
          <td><%= visit.confirmed %></td>
          <td><%= visit.rank %></td>
          <td><%= visit.comments %></td>
          <td><%= link_to 'Destroy', admin_visit_path(visit), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>