<div class="row placePartial">
	<div class="col-sm-3">
		<%= image_tag @place.picture.url(:thumb), class: "img-responsive" %>
	</div>
	<div class="col-sm-9">
	  <h1><%= link_to @place.name, place_path(@place) %></h1>
      <p>
        City: <%= @place.city.name %><br />
        Contact email: <%= @place.email %><br />
        Address: <%= @place.address %><br />
        Phone: <%= @place.phone %>
      </p>
    </div>
</div>