<div class="container">
  <%= link_to '<i class="fa fa-plus"></i> New City'.html_safe, new_admin_city_path, class: "btn btn-primary pull-right" %>
  <h1>Cities</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= link_to 'Show', admin_city_path(city) %></td>
          <td><%= link_to 'Edit', edit_admin_city_path(city) %></td>
          <td><%= link_to 'Destroy', admin_city_path(city), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

