<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div id="map" style="height: 1000px"></div>
      <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.

        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @latitude %>, lng: <%= @longitude %>},
            zoom: 15,
            scrollwheel:  true
          });
          var infoWindow = new google.maps.InfoWindow({map: map});


          <% @plates.uniq{|t| t.place_id }.each do |plate| %>
          var marker<%= plate.id %> = new google.maps.Marker({
            position: {lat: <%= plate.place.latitude %>, lng: <%= plate.place.longitude %>},
            map: map,
            title: '<%= plate.name %>'
          });
          <% end %>
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBAnniJ7HwFQYaggqcF_03-P4XB3-7y6M&callback=initMap">
      </script>

    </div>
    <div class="col-sm-3">
      <h2>Filters</h2>
      <form method="GET" action="/places">
        <div class="form-group">
          <label for="q">By word</label>
          <input type="text" id="q" name="q" class="form-control" value="<%= @q %>">
        </div>
        <div class="form-group">
          <label>Price (Min - Max)</label>
          <div class="row">
            <div class="col-xs-6">
              <input type="number" id="min_price" name="min_price" min=5000 step=1000 placeholder="Min" class="form-control" value="<%= @min_price %>">
            </div>
            <div class="col-xs-6">
              <input type="number" id="max_price" name="max_price" min=6000 step=1000 placeholder="Max" class="form-control" value="<%= @max_price %>">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select name="category" id="category" class="form-control">
            <option value="ALL">ALL</option>
            <% @plate_lists[0]['categories'].each do |category| %>
              <option value="<%= category %>" <%= "selected" if @category == category %>><%= category %></option>
            <% end %>
          </select>
        </div>
        
        <% @plate_lists[0]['options'].each do |option| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="options[]" value="<%= option %>" <%= "checked" if @options.include? option %>> <%= option %>
            </label>
          </div>
        <% end %>
        <div class="form-group">
          <input type="hidden" name="latitude" value="<%= @latitude %>">
          <input type="hidden" name="longitude" value="<%= @longitude %>">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>

      <div class="list-group">
        <% past_place = 0 %>
        <% @plates.each do |plate| %>
          <div class="list-group-item <%= plate.place_id == past_place ? 'mini' : '' %>">
            <span class="badge">$ <%= plate.price %> COP</span>
            <h4 class="list-group-item-heading">
              <%= link_to(plate.name, place_plate_path(plate.place, plate)) %>  
            </h4>
            <p class="list-group-item-text">
              <%= image_tag plate.picture.url(:thumb), class: "minipic" %>
              Place: <%= link_to(plate.place.name, place_path(plate.place)) %><br />
              Category: <%= plate.category %><br />
              Options: <%= plate.options %>
            </p>
          </div>
          <% past_place = plate.place_id %>
        <% end %>
      </div>
    </div>
  </div>
</div>