<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1><%= @place.name %></h1>
    </div>
    <%= image_tag @place.picture.url(:medium), class: "img-responsive" %>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>
              City: <%= @place.city.name %><br />
              Contact email: <%= @place.email %><br />
              Address: <%= @place.address %><br />
              Phone: <%= @place.phone %>
            </p>
          </div>
          <!-- List plates -->
          <%= link_to '<i class="fa fa-cutlery"></i> View all plates'.html_safe, place_plates_path(@place), class: "btn btn-success pull-right" %>
            <h2>Most popular plates</h2>
          <div class="row">
            <% @place.plates.limit(2).each do |plate| %>
              <div class="col-sm-6">
                <%= render "partials/plate", :plate => plate %>
              </div>
            <% end %>
          </div>
          <!-- /list plates -->
          <%= simple_format(@place.description) %>

          <div id="map" style="height: 400px;"></div>
          <script>

            function initMap() {
              var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: myLatLng
              });

              var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '<%= @place.name %>'
              });
            }
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBAnniJ7HwFQYaggqcF_03-P4XB3-7y6M&callback=initMap">
          </script>

        </div>
        <div class="col-sm-4">
          <% @place.visits.limit(10).each do |visit| %>
            <div class="visit">
              <%= render "partials/visit", :visit => visit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= link_to(@place.user, html_options = {}) do %>
        <%= image_tag @place.user.avatar.url(:thumb), class: "img-responsive pull-left" %>
        <%= @place.user.name %><br />
        <%= @place.user.city.name %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>